:root {
  --primary: #7f1d1d;
  --secondary: #4a0404;
  --surface: #4a0404;
  --onSurface: #4a0404;
  --interactive: #dc2626;
  --critical: #b91c1c;
  --warning: #f97316;
  --highlight: #fca5a5;
  --success: #be123c;
  --decorative: #fecaca;
  --border: #fecaca;
  --background: #fef2f2;
  --icon: #7f1d1d;
  --textSubdued: #991b1b;
  --divider: #fee2e2;
  --text: #7f1d1d;
  --formFieldBorder: #fca5a5;
  --formFieldBorderShadow: #f87171;
}

$font-size-sm: 0.875rem;
$font-size-md: 0.875rem;
$font-size-lg: 1rem;

$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 2;

$font-size-base: $font-size-sm;
$h1-font-size: $font-size-base * 2.1;
$h2-font-size: $font-size-base * 1.9;
$h3-font-size: $font-size-base * 1.65;
$h4-font-size: $font-size-base * 1.45;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

html {
  font-size: 100%;

  input[type='email'],
  input[type='password'],
  input[type='tel'],
  input[type='text'],
  select,
  textarea {
    padding: 0.625rem 0.75rem;
  }

  .button {
    padding: 0.625rem 1.25rem;
    font-weight: 400;
    border-radius: 2px;
  }
}
body {
  color: var(--text);
  background: var(--background);
}
p {
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 767px) {
  $font-size-base: $font-size-sm;
  body {
    font-size: $font-size-base;
    line-height: $line-height-sm;
    .h1,
    h1 {
      font-size: $h1-font-size;
    }
    .h2,
    h2 {
      font-size: $h2-font-size;
    }
    .h3,
    h3 {
      font-size: $h3-font-size;
    }
    .h4,
    h4 {
      font-size: $h4-font-size;
    }
    .h5,
    h5 {
      font-size: $h5-font-size;
    }
    .h6,
    h6 {
      font-size: $h6-font-size;
    }
  }
}

@media (min-width: 768px) and (max-width: 1535px) {
  $font-size-base: $font-size-md;
  $h1-font-size: $font-size-base * 2.1;
  $h2-font-size: $font-size-base * 1.9;
  $h3-font-size: $font-size-base * 1.65;
  $h4-font-size: $font-size-base * 1.45;
  $h5-font-size: $font-size-base * 1.15;
  $h6-font-size: $font-size-base;

  body {
    font-size: $font-size-base;
    line-height: $line-height-md;
    .h1,
    h1 {
      font-size: $h1-font-size;
    }
    .h2,
    h2 {
      font-size: $h2-font-size;
    }
    .h3,
    h3 {
      font-size: $h3-font-size;
    }
    .h4,
    h4 {
      font-size: $h4-font-size;
    }
    .h5,
    h5 {
      font-size: $h5-font-size;
    }
    .h6,
    h6 {
      font-size: $h6-font-size;
    }
  }
}

@media (min-width: 1536px) {
  $font-size-base: $font-size-lg;
  $h1-font-size: $font-size-base * 2.1;
  $h2-font-size: $font-size-base * 1.9;
  $h3-font-size: $font-size-base * 1.65;
  $h4-font-size: $font-size-base * 1.45;
  $h5-font-size: $font-size-base * 1.15;
  $h6-font-size: $font-size-base;

  body {
    font-size: $font-size-base;
    line-height: $line-height-lg;
    .h1,
    h1 {
      font-size: $h1-font-size;
    }
    .h2,
    h2 {
      font-size: $h2-font-size;
    }
    .h3,
    h3 {
      font-size: $h3-font-size;
    }
    .h4,
    h4 {
      font-size: $h4-font-size;
    }
    .h5,
    h5 {
      font-size: $h5-font-size;
    }
    .h6,
    h6 {
      font-size: $h6-font-size;
    }
  }
}
